name: Python application test with Github Actions
on: [push]
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - name: Setup Python 3.14
              uses: actions/setup-python@v1
              with:
                python-version: 3.14
            - name: Install dependencies
              run: |
                make install
            - name: Test with pytest
              run: |
                make test
            - name: Lint with pylint
              run: |
                make lint
            - name: Format code
              run: |
                make format
